<footer class="footer-section">
	<div class="container">
		<div class="row">
			<div class="col-xl-6 col-lg-7 order-lg-2">
				<div class="row">
					<div class="col-sm-4">
						<div class="footer-widget">
							<h2>About us</h2>
							<ul>
								<li><a href="">Welcome</a></li>
								<li><a href="">Menu</a></li>
								<li><a href="">Orders</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="footer-widget">
							<h2>Menu</h2>
							<ul>
								<li><a href="">Drinks</a></li>
								<li><a href="">Appetizer</a></li>
								<li><a href="">Main Course</a></li>
								<li><a href="">Dessert</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="footer-widget">
							<h2>Contact</h2>
							<ul>
								<li><a href="">Employee</a></li>
								<li><a href="">Login</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-6 col-lg-5 order-lg-1">
				<div
					class="copyright">
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					Copyright &copy;<script>
						document.write(new Date().getFullYear());
					</script>
					All rights reserved | This template is made with
					<i class="fa fa-heart-o" aria-hidden="true"></i>
					by
					<a href="https://colorlib.com" target="_blank">Colorlib</a>
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				</div>
				<div class="social-links">
					<a href="">
						<i class="fa fa-instagram"></i>
					</a>
					<a href="">
						<i class="fa fa-pinterest"></i>
					</a>
					<a href="">
						<i class="fa fa-facebook"></i>
					</a>
					<a href="">
						<i class="fa fa-twitter"></i>
					</a>
					<a href="">
						<i class="fa fa-youtube"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>